*.bps
*.sfc
*.srm
*.sav
*.bs1
*.bs2
*.bs3
*.bs4
*.bs5
*.bs6
*.bs7
*.bs8
*.bs9
*.bs0
en/binaries/*
en/kerning/*
jp/binaries/chapters/*
jp/binaries/fields/*
jp/binaries/menu/*
jp/binaries/other/*
jp/images/*
jp/fonts/*
jp/scripts/*
